*.gz
*.pyc
*.zip
*.7z
*.tgz
*.so
Project/Build
Project/Build_*
Project/premake5
Project/bin/*
Bin/*

Project/Libs/Asio/orig/asio/src/doc
Project/Libs/Asio/orig/asio/src/examples
Project/Libs/Asio/orig/asio/src/tests
Project/Libs/Asio/orig/asio/src/tools

Project/Libs/Assert/orig/example
Project/Libs/Assert/orig/_gnu-make
Project/Libs/Assert/orig/_ios-xcode
Project/Libs/Assert/orig/_mac-xcode
Project/Libs/Assert/orig/test
Project/Libs/Assert/orig/_win-vs14

Project/Libs/CppFS/orig/deploy
Project/Libs/CppFS/orig/docs
Project/Libs/CppFS/orig/source/tests

Project/Libs/BackwardCPP/orig/doc
Project/Libs/BackwardCPP/orig/test
Project/Libs/BackwardCPP/orig/test_package

Project/Libs/BetterEnums/orig/doc
Project/Libs/BetterEnums/orig/example
Project/Libs/BetterEnums/orig/extra
Project/Libs/BetterEnums/orig/test

Project/Libs/Boost/orig/doc
Project/Libs/Boost/orig/libs/accumulators
Project/Libs/Boost/orig/libs/algorithm
Project/Libs/Boost/orig/libs/align
Project/Libs/Boost/orig/libs/any
Project/Libs/Boost/orig/libs/array
Project/Libs/Boost/orig/libs/asio
Project/Libs/Boost/orig/libs/assert
Project/Libs/Boost/orig/libs/assign
Project/Libs/Boost/orig/libs/atomic
Project/Libs/Boost/orig/libs/beast
Project/Libs/Boost/orig/libs/bimap
Project/Libs/Boost/orig/libs/bind
Project/Libs/Boost/orig/libs/callable_traits
Project/Libs/Boost/orig/libs/chrono
Project/Libs/Boost/orig/libs/circular_buffer
Project/Libs/Boost/orig/libs/compatibility
Project/Libs/Boost/orig/libs/compute
Project/Libs/Boost/orig/libs/concept_check
Project/Libs/Boost/orig/libs/config
Project/Libs/Boost/orig/libs/container
Project/Libs/Boost/orig/libs/container_hash
Project/Libs/Boost/orig/libs/context
Project/Libs/Boost/orig/libs/contract
Project/Libs/Boost/orig/libs/conversion
Project/Libs/Boost/orig/libs/convert
Project/Libs/Boost/orig/libs/core
Project/Libs/Boost/orig/libs/coroutine
Project/Libs/Boost/orig/libs/coroutine2
Project/Libs/Boost/orig/libs/crc
Project/Libs/Boost/orig/libs/date_time
Project/Libs/Boost/orig/libs/detail
Project/Libs/Boost/orig/libs/disjoint_sets
Project/Libs/Boost/orig/libs/dll
Project/Libs/Boost/orig/libs/dynamic_bitset
Project/Libs/Boost/orig/libs/endian
Project/Libs/Boost/orig/libs/exception
Project/Libs/Boost/orig/libs/fiber
Project/Libs/Boost/orig/libs/filesystem
Project/Libs/Boost/orig/libs/flyweight
Project/Libs/Boost/orig/libs/foreach
Project/Libs/Boost/orig/libs/format
Project/Libs/Boost/orig/libs/function
Project/Libs/Boost/orig/libs/functional
Project/Libs/Boost/orig/libs/function_types
Project/Libs/Boost/orig/libs/fusion
Project/Libs/Boost/orig/libs/geometry
Project/Libs/Boost/orig/libs/gil
Project/Libs/Boost/orig/libs/graph
Project/Libs/Boost/orig/libs/graph_parallel
Project/Libs/Boost/orig/libs/hana
Project/Libs/Boost/orig/libs/heap
Project/Libs/Boost/orig/libs/hof
Project/Libs/Boost/orig/libs/icl
Project/Libs/Boost/orig/libs/integer
Project/Libs/Boost/orig/libs/interprocess
Project/Libs/Boost/orig/libs/intrusive
Project/Libs/Boost/orig/libs/io
Project/Libs/Boost/orig/libs/iostreams
Project/Libs/Boost/orig/libs/iterator
Project/Libs/Boost/orig/libs/lambda
Project/Libs/Boost/orig/libs/lexical_cast
Project/Libs/Boost/orig/libs/locale
Project/Libs/Boost/orig/libs/local_function
Project/Libs/Boost/orig/libs/lockfree
Project/Libs/Boost/orig/libs/log
Project/Libs/Boost/orig/libs/logic
Project/Libs/Boost/orig/libs/math
Project/Libs/Boost/orig/libs/metaparse
Project/Libs/Boost/orig/libs/move
Project/Libs/Boost/orig/libs/mp11
Project/Libs/Boost/orig/libs/mpi
Project/Libs/Boost/orig/libs/mpl
Project/Libs/Boost/orig/libs/msm
Project/Libs/Boost/orig/libs/multi_array
Project/Libs/Boost/orig/libs/multi_index
Project/Libs/Boost/orig/libs/multiprecision
Project/Libs/Boost/orig/libs/numeric
Project/Libs/Boost/orig/libs/optional
Project/Libs/Boost/orig/libs/parameter
Project/Libs/Boost/orig/libs/phoenix
Project/Libs/Boost/orig/libs/poly_collection
Project/Libs/Boost/orig/libs/polygon
Project/Libs/Boost/orig/libs/pool
Project/Libs/Boost/orig/libs/predef
Project/Libs/Boost/orig/libs/preprocessor
Project/Libs/Boost/orig/libs/process
Project/Libs/Boost/orig/libs/program_options
Project/Libs/Boost/orig/libs/property_map
Project/Libs/Boost/orig/libs/property_tree
Project/Libs/Boost/orig/libs/proto
Project/Libs/Boost/orig/libs/ptr_container
Project/Libs/Boost/orig/libs/python
Project/Libs/Boost/orig/libs/qvm
Project/Libs/Boost/orig/libs/random
Project/Libs/Boost/orig/libs/range
Project/Libs/Boost/orig/libs/ratio
Project/Libs/Boost/orig/libs/rational
Project/Libs/Boost/orig/libs/regex
Project/Libs/Boost/orig/libs/scope_exit
Project/Libs/Boost/orig/libs/serialization
Project/Libs/Boost/orig/libs/signals
Project/Libs/Boost/orig/libs/signals2
Project/Libs/Boost/orig/libs/smart_ptr
Project/Libs/Boost/orig/libs/sort
Project/Libs/Boost/orig/libs/spirit
Project/Libs/Boost/orig/libs/stacktrace
Project/Libs/Boost/orig/libs/statechart
Project/Libs/Boost/orig/libs/static_assert
Project/Libs/Boost/orig/libs/system/build
Project/Libs/Boost/orig/libs/system/doc
Project/Libs/Boost/orig/libs/system/meta
Project/Libs/Boost/orig/libs/system/test
Project/Libs/Boost/orig/libs/test
Project/Libs/Boost/orig/libs/thread/build
Project/Libs/Boost/orig/libs/thread/doc
Project/Libs/Boost/orig/libs/thread/example
Project/Libs/Boost/orig/libs/thread/meta
Project/Libs/Boost/orig/libs/thread/test
Project/Libs/Boost/orig/libs/thread/tutorial
Project/Libs/Boost/orig/libs/throw_exception
Project/Libs/Boost/orig/libs/timer
Project/Libs/Boost/orig/libs/tokenizer
Project/Libs/Boost/orig/libs/tti
Project/Libs/Boost/orig/libs/tuple
Project/Libs/Boost/orig/libs/type_erasure
Project/Libs/Boost/orig/libs/type_index
Project/Libs/Boost/orig/libs/typeof
Project/Libs/Boost/orig/libs/type_traits
Project/Libs/Boost/orig/libs/units
Project/Libs/Boost/orig/libs/unordered
Project/Libs/Boost/orig/libs/utility
Project/Libs/Boost/orig/libs/uuid
Project/Libs/Boost/orig/libs/variant
Project/Libs/Boost/orig/libs/vmd
Project/Libs/Boost/orig/libs/wave
Project/Libs/Boost/orig/libs/winapi
Project/Libs/Boost/orig/libs/xpressive
Project/Libs/Boost/orig/more
Project/Libs/Boost/orig/status
Project/Libs/Boost/orig/tools

Project/Libs/FantasyName/orig/el
Project/Libs/FantasyName/orig/js
Project/Libs/FantasyName/orig/pl

Project/Libs/HTMApp/orig/dox
Project/Libs/HTMApp/orig/examples
Project/Libs/HTMApp/orig/install
Project/Libs/HTMApp/orig/mak

Project/Libs/ModernCPPJson/orig/benchmarks
Project/Libs/ModernCPPJson/orig/cmake
Project/Libs/ModernCPPJson/orig/doc
Project/Libs/ModernCPPJson/orig/test

Project/Libs/Pistache/orig/examples
Project/Libs/Pistache/orig/googletest-release-1.7.0
Project/Libs/Pistache/orig/tests

Project/Libs/PyBind/orig/docs
Project/Libs/PyBind/orig/tests
Project/Libs/PyBind/orig/tools

Project/Libs/Python3/orig/Doc
Project/Libs/Python3/orig/Mac
Project/Libs/Python3/orig/PCbuild
Project/Libs/Python3/orig/Programs
Project/Libs/Python3/orig/Tools

Project/Libs/TinyXML2/orig/contrib
Project/Libs/TinyXML2/orig/docs
Project/Libs/TinyXML2/orig/resources
Project/Libs/TinyXML2/orig/tinyxml2

Project/Libs/TMXParser/orig/cmake
Project/Libs/TMXParser/orig/examples
Project/Libs/TMXParser/orig/install_scripts
Project/Libs/TMXParser/orig/test

Project/Libs/Websocketpp/orig/cmake
Project/Libs/Websocketpp/orig/docs
Project/Libs/Websocketpp/orig/examples
Project/Libs/Websocketpp/orig/test
Project/Libs/Websocketpp/orig/tutorials

Project/Libs/Zlib/orig/amiga
Project/Libs/Zlib/orig/contrib
Project/Libs/Zlib/orig/doc
Project/Libs/Zlib/orig/examples
Project/Libs/Zlib/orig/msdos
Project/Libs/Zlib/orig/nintendods
Project/Libs/Zlib/orig/old
Project/Libs/Zlib/orig/os400
Project/Libs/Zlib/orig/qnx
Project/Libs/Zlib/orig/test
Project/Libs/Zlib/orig/watcom
Project/Libs/Zlib/orig/win32
